#horse {
    float: left;
    margin-top: 10px;
    margin-right: 10px;
    font-family: Verdana, Geneva, sans-serif;
}

.marginTop {
   margin-top: 25px;
}

.center {
    margin: auto;
    width: 70%;
}

.alert {
    margin-top: 50px;
}